<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
</head>
<body>
  <ul th:each="albumData : ${albums}">
      <li th:text="'Album name - ' + ${albumData.title}"></li>
      <li th:text="'Artist name - ' + ${albumData.artist}"></li>
      <li th:text="'Song count - ' + ${albumData.songCount}"></li>
      <li th:text="'Song length - ' + ${albumData.length}"></li>
  </ul>

  <h3>Songs</h3>

  <ul th:each=" song : ${albumData.songsInAlbum}">
      <li th:text=" 'Song name - ' + ${song.title}"></li>
      <li th:text=" 'Song Length - ' + ${song.length}"></li>
      <li th:text=" 'Track Number - ' + ${song.trackNumber}"></li>
      <li th:text=" 'Part of Album - ' + ${song.album}"></li>
  </ul>

  <form action="/songs" method="post">
      <fieldset>
          <label>Song Title</label>
          <input type="text" name="title">
          <label>Song Length</label>
          <input type="text" name="artist">
          <label>Track Number</label>
          <input type="text" name="count">
          <input type="hidden" name="album" th:value="&{albumData.title}">
          <input type="submit"></input>
      </fieldset>
  </form>

<form action="/album" method="post">
    <fieldset>
        <label>title</label>
        <input type="text" name="title">
        <label>artist</label>
        <input type="text" name="artist">
        <label>song count</label>
        <input type="text" name="count">
        <label>length in seconds</label>
        <input type="text" name="length">
        <input type="submit"></input>
    </fieldset>
</form>



</body>
</html>