<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
</head>
<body>
  <ul th:each="albumData : ${albums}">
      <li th:text="'Album name - ' + ${albumData.title}"></li>
      <li th:text="'Artist name - ' + ${albumData.artist}"></li>
      <li th:text="'Song count - ' + ${albumData.songCount}"></li>
      <li th:text="'Song length - ' + ${albumData.length}"></li>
  </ul>


<form action="/album" method="post">
    <fieldset>
        <label>title</label>
        <input type="text" name="title">
        <label>artist</label>
        <input type="text" name="artist">
        <label>song count</label>
        <input type="text" name="count">
        <label>length in seconds</label>
        <input type="text" name="length">
        <input type="submit"></input>
    </fieldset>
</form>

</body>
</html>